<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/.css/base.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="ocs-site-verification" content="ef00a27b7ce01083b547e58d82d0c9b5" />
    <title>{{ title }}</title>
  </head>
  <body>
  <div class="nav">{% include 'src/.includes/nav.njk' %}</div>
  <div class="main">
    {{ content | safe }}
    {% include 'src/.includes/footer.njk' %}
  </div>
  </body>
</html>
